.albumcreate-basic {
  padding: 0;
}
.albumcreate-basic md-card-content {
  padding: 16px;
}
.albumcreate-full-width {
  width: 100%;
}

.albumcreate-icons {
  font-size: 100%;
  height: inherit;
  vertical-align: top;
  width: inherit;
}

.albumcreate-card {
  margin: 16px;
}

.albumcreate-textarea {
  resize: none;
  border: none;
  overflow: auto;
  padding: 0;
  background: lightblue;
}