<div class="demo-card-container">
    <md-card *ngFor="let album of albumes">
        <img md-card-image src="https://material.angularjs.org/latest/img/washedout.png">
        <md-card-title>{{album.Title}}</md-card-title>
        <md-card-content>
            <p>{{album.Desp}}</p>
        </md-card-content>
        <md-card-actions align="end">
            <button md-button (click)="onSetSelect(album)" *ngIf="canChangeAlbum(album)">CHANGE</button>
            <button md-button (click)="onOrgAlbumPhoto(album)" *ngIf="canChangeAlbum(album)">ORGANIZE</button>
            <button md-button (click)="onViewAlbumDetail(album)">VIEW {{album.PhotoCount}} Photoes</button>
        </md-card-actions>
    </md-card>
</div>

