<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Album List</h3>
    </div>
    <div class="panel-body">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card card-block text-xs-center" *ngFor="let album of albumes">
                    <img class="card-img-top img img-responsive full-width thumbnail" src="{{album.Thumbnail}}" alt="Album Image">
                    <div class="card-block">
                        <h4 class="card-title">{{album.Title}}</h4>
                        <p class="card-text">{{album.Desp}}</p>
                        <div class="card-block">
                            <a class="btn btn-link" (click)="onSetSelect(album)" *ngIf="canChangeAlbum(album)" data-toggle="modal" data-target="#modalAlbum">
                                Change
                            </a>
                            <a class="btn btn-link" (click)="onOrgAlbumPhoto(album)" *ngIf="canChangeAlbum(album)">Organize Photos</a>
                        </div>
                        <div class="card-block">
                            <a class="btn btn-link" (click)="onViewAlbumDetail(album)"><small class="text-muted">View {{album.PhotoCount}} Photoes</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalAlbum" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" *ngIf="selectedAlbum">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Change Album metadata</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="title-input" class="col-xs-2 col-form-label">Title</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" id="title-input" [(ngModel)]="selectedAlbum.Title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desp-input" class="col-xs-2 col-form-label">Desp</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" id="desp-input" [(ngModel)]="selectedAlbum.Desp">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2">Is Public</label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="selectedAlbum.IsPublic">Is Public
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="accesscode-input" class="col-xs-2 col-form-label">Access Code</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" id="accesscode-input" [(ngModel)]="selectedAlbum.AccessCode">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSaveAlbumMetadata()">Save changes</button>
                    </div>
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->
    </div>
</div>
