<div>
    <!--<div role="alert" *ngIf="!canCreateAlbum()">
        <strong>Oh snap!</strong> You have no authority to create an album.
        <br />
        Please register yourself first.
        <br />
        If you already signed-in, please contact <address>
            Alva Chien (<a href="mailto:alvachien@live.com">email</a>, <a href="http://www.flickr.com/photos/alvachien">Flickr</a>, etc)
        </address> for help.
    </div>-->

    <!--<form *ngIf="canCreateAlbum()" (ngSubmit)="onSubmit()" #albumForm="ngForm">-->
    <form (ngSubmit)="onSubmit()" #albumForm="ngForm">
        <div layout-gt-sm="row">
            <md-input [(ngModel)]="album.Title" type="text" placeholder="Title" name="title"></md-input>
            <md-input [(ngModel)]="album.Desp" type="text" placeholder="Desp" name="desp"></md-input>
        </div>

        <div layout-gt-sm="row">
            <md-checkbox [(ngModel)]="album.IsPublic" name="ispub">Is Public</md-checkbox>
        </div>
        <div layout-gt-sm="row">
            <md-input [(ngModel)]="album.AccessCode" type="text" placeholder="Access Code" name="accesscode"></md-input>
        </div>

        <button md-raised-button color="primary" type="submit" [disabled]="!albumForm.form.valid">Submit</button>
        <button md-raised-button color="accent" (click)="newAlbum()">New Album</button>
    </form>
    <br />
</div>
