<div class="pos-f-t">
    <div class="collapse" id="navbar-header">
        <div class="container bg-inverse p-a-1">
            <h3>Collapsed content</h3>
            <p>Toggleable via the navbar brand.</p>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-static-top bg-faded">
        <div class="container">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                &#9776;
            </button>
            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">AC Photo Gallery</a>
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <md-icon>ic_photo_album</md-icon>&nbsp;Album<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/album']" routerLinkActive="active">Albums</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/album/create']" routerLinkActive="active">Create an album</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <md-icon>photo</md-icon>&nbsp;Photo<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" [routerLink]="['/photo']" routerLinkActive="active">Photos</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" [routerLink]="['/photo/upload']" routerLinkActive="active">Upload</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <md-icon>info</md-icon>&nbsp;About<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">Help</h6>
                            <a class="dropdown-item" [routerLink]="['/about']" routerLinkActive="active"><md-icon>info</md-icon>&nbsp;About</a>
                            <a class="dropdown-item" [routerLink]="['/credits']" routerLinkActive="active">Credits</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Websites</h6>
                            <a class="dropdown-item" href="http://www.alvachien.com/alvablog/" target="_blank"><md-icon>home</md-icon>&nbsp;Personal Website</a>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header">Social Network</h6>
                            <a class="dropdown-item" href="https://github.com/alvachien" target="_blank"><i class="fa fa-github fa-fw"></i>&nbsp;Github</a>
                            <a class="dropdown-item" href="https://www.flickr.com/photos/alvachien" target="_blank"><i class="fa fa-flickr fa-fw"></i>&nbsp;Flickr</a>
                            <a class="dropdown-item" href="https://www.facebook.com/alva.chien" target="_blank"><i class="fa fa-facebook fa-fw"></i>&nbsp;Facebook</a>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav float-xs-right float-sm-right float-md-right float-lg-right">
                    <li class="nav-item" *ngIf="!isLoggedIn">
                        <a class="nav-link" (click)="onLogin()">{{'Login.Login' | translate}}</a>
                    </li>
                    <li class="nav-item dropdown" *ngIf="isLoggedIn">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>&nbsp;{{titleLogin}}<b class="caret"></b>
                        </a>
                        <div class="dropdown-menu">
                            <h6 class="dropdown-header">{{'Login.User' | translate}}</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="onLogout()">{{'Login.Logout' | translate}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="m-t-1" style="padding-top: 70px; padding-bottom: 70px;">
    <div id="alertifyjs">
    </div>
    <router-outlet></router-outlet>
</div>

<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
    <div class="container">
        <span class="text-muted">Written by Alva Chien, 2016 - 2017. Last updated at 2017-03-20</span>
   </div>
</nav>

