.acgallery-container {
  /* width: 100%; */
  float: left;
}
.acgallery-container img {
  /* width: 100%; */
  height: auto;
}
.acgallery-container figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.acgallery-container figcaption {
  display: none;
}
.card-columns {
  column-count: 4;
}
