<div class="panel panel-info">
  <div class="panel-heading ml-1">
    <h3 class="panel-title">{{'Nav.Photos' | translate}} - {{'Common.ListView' | translate}}</h3>
  </div>

  <div class="panel-body">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="!objUtil.isPreviousVisible">
          <a class="page-link" (click)="onPagePreviousClick()" tabindex="-1">{{'Common.Previous' | translate}}</a>
        </li>
        <li class="page-item" *ngFor="let pageidx of objUtil.visPags" [class.active]="objUtil.currentPage === pageidx">
          <a class="page-link" (click)="onPageClick(pageidx)">{{pageidx}}</a>
        </li>
        <li class="page-item" [class.disabled]="!objUtil.isNextVisible">
          <a class="page-link" (click)="onPageNextClick()">{{'Common.Next' | translate}}</a>
        </li>
      </ul>
    </nav>

    <div class="card-columns">
      <div class="card" *ngFor="let photo of photos; let idx = index;">
        <a (click)="onPhotoClick(idx)" title="{{photo.title}}">
          <img class="card-img" src="{{photo.thumbnailFileInAPIUrl}}" style="display: block; width: auto; height: auto;" alt="{{photo.updtime}}" />
        </a>
        <div class="card-block">
          <h4 class="card-title">{{photo.title}}</h4>
          <p class="card-text">{{photo.desp}}</p>
          <a (click)="onDisplayPhoto(photo)" role="button" class="card-link">{{'Common.Display' | translate}}</a>
          <a (click)="onChangePhoto(photo)" role="button" class="card-link">{{'Common.Change' | translate}}</a>
          <a (click)="onViewPhotoEXIFDialog(photo)" role="button" class="card-link">EXIF</a>
        </div>
      </div>
    </div>
  </div>
</div>
