<nz-page-header class="site-page-header" [nzTitle]="'Nav.Albums' | transloco" [nzSubtitle]="'Common.ListView' | transloco">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Welcome</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>{{'Nav.Albums' | transloco}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="onCreate()">{{'Common.Create' | transloco}}</button>
  </nz-page-header-extra>  
</nz-page-header>

<div nz-row nzJustify="center">
  <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalCount" [nzPageSize]="20" [nzShowTotal]="rangeTemplate"></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}-{{ range[1] }} of {{ total }} items </ng-template>        
</div>

<nz-divider></nz-divider>

<nz-list nzItemLayout="vertical">
  <nz-list-item *ngFor="let item of albums">
    <nz-list-item-meta>
      <nz-list-item-meta-avatar [nzSrc]="item.Thumbnail">
      </nz-list-item-meta-avatar>
      <nz-list-item-meta-title>
        <a (click)="onDisplay(item)">{{ item.Title }}</a>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ item.Desp }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>
    {{ item.Title }}
    <ul nz-list-item-actions>
      <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px"></i>156</nz-list-item-action>
      <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px"></i>156</nz-list-item-action>
      <nz-list-item-action><i nz-icon nzType="star-o" style="margin-right: 8px"></i>2</nz-list-item-action>
      <nz-list-item-action><a nz-button nzType="link" (click)="onDisplay(item)">{{'Common.Display' | transloco}}</a></nz-list-item-action>
      <nz-list-item-action><a nz-button nzType="link" (click)="onEdit(item)">{{'Common.Edit' | transloco}}</a></nz-list-item-action>
    </ul>
    <nz-list-item-extra>
      <img width="272" alt="logo" src="/assets/img/grey.jpg" />
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>

<nz-divider></nz-divider>

<div nz-row nzJustify="center">
  <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalCount" [nzPageSize]="20" [nzShowTotal]="rangeTemplate"></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}-{{ range[1] }} of {{ total }} items </ng-template>        
</div>
