<div *ngIf="currentPhoto" class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{'Nav.Photo' | translate}}: {{currentMode | translate}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{currentPhoto.fileInAPIUrl}}">
    <mat-card-content>
      <form #photoForm="ngForm">
        <mat-form-field class="w-100 p-3">
          <input matInput placeholder="{{'Common.Title' | translate}}" required maxlength="20" [(ngModel)]="currentPhoto.title" name="title"
            #title="ngModel" [disabled]="!isFieldChangable()">
          <mat-hint align="end">{{currentPhoto.title && currentPhoto.title.length}} / 20</mat-hint>
        </mat-form-field>

        <mat-form-field class="w-100 p-3">
          <input matInput placeholder="{{'Common.Description' | translate}}" maxlength="50" [(ngModel)]="currentPhoto.desp" name="photodesp"
            #photodesp="ngModel" [disabled]="!isFieldChangable()">
          <mat-hint align="end">{{currentPhoto.desp && currentPhoto.desp.length}} / 50</mat-hint>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="currentPhoto.isPublic" name="ispubl" [disabled]="!isFieldChangable()">{{"Album.IsPublic" | translate}}</mat-checkbox>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [disabled]="!isFieldChangable()">{{'Common.Submit' | translate}}</button>
      <button mat-button>{{'Common.Cancel' | translate}}</button>
    </mat-card-actions>
  </mat-card>
  <hr />

  <div class="row">
    <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
      <div class="row">
        {{'Photo.AssignedAlbum' | translate}}
      </div>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th></th>
            <th></th>
            <th>{{'Common.Title' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let album of assignedAlbum">
            <td>
              <mat-checkbox [(ngModel)]="album.IsSelected" name="isuasel" [disabled]="!isFieldChangable()"></mat-checkbox>
            </td>
            <td>
              <img src="{{album.ThumbnailInAPI}}" style="display: block; width: 200 !important;height: auto !important;" class="img-rounded pull-xs-left"
                alt="...">
            </td>
            <td>{{album.Title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-1 col-md-1 col-xs-1 col-sm-1">
      <br />
      <br />
      <br />
      <br />
      <div class="row">
        <button mat-button [disabled]="!isFieldChangable()" (click)="onRemoveAssignedAlbum()">></button>
      </div>
      <div class="row">
        <button mat-button [disabled]="!isFieldChangable()" (click)="onAddAssignedAlbum()">
          <</button>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-xs-5 col-sm-5">
      <div class="row">
        {{'Photo.AvailableAlbum' | translate}}
      </div>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th></th>
            <th></th>
            <th>{{'Common.Title' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let album of unassignedAlbum">
            <td>
              <mat-checkbox [(ngModel)]="album.IsSelected" name="isaasel" [disabled]="!isFieldChangable()"></mat-checkbox>
            </td>
            <td>
              <img src="{{album.ThumbnailInAPI}}" style="display: block; width: 200 !important;height: auto !important;" class="img-rounded pull-xs-left"
                alt="...">
            </td>
            <td>{{album.Title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
