.photo-upload-container {
  display: flex;
  flex-flow: column nowrap;
}

.photo-upload-left {
  flex:30;
  margin: inherit;
}

.photo-upload-table {
    flex:70;
    margin:inherit;
}

md-list, md-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;
}