.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.progress-margin {
  margin: 0 10px;
}

.photoupload-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.photoupload-radio-button {
  margin: 5px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.mat-column-select {
  overflow: visible;
}

.mat-column-thumbnail {
  width: 300px;
}

.thumbnail-image {
  width: 300px;
  object-fit: cover;
}

.mat-column-id,
.mat-column-ispublic {
  max-width: 50px;
}

.mat-column-size {
  max-width: 100px;
}

.mat-column-dimension {
  max-width: 150px;
}
