<mat-vertical-stepper linear="true">
  <mat-step label="{{'Photo.ChoosePhoto' | translate}}">
    <mat-toolbar>
      <button mat-button #uploadFileRef>Select Photo(s)</button>
    </mat-toolbar>
    <div class="example-container mat-elevation-z8">
      <table mat-table #table [dataSource]="dataSource">
        <!-- thumbnail Column -->
        <ng-container matColumnDef="thumbnail">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element"> 
            <img style="object-fit: contain;" src="{{element.imgSrc}}" />
          </td>
        </ng-container>
  
        <!-- Sequence Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Seq. </th>
          <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> {{'Common.Name' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.OrgName}} </td>
        </ng-container>

        <!-- File size Column -->
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef> {{'Photo.FileSize' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.Size}} </td>
        </ng-container>

        <!-- Dimension Column -->
        <ng-container matColumnDef="dimension">
          <th mat-header-cell *matHeaderCellDef> {{'Photo.Dimension' |translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.Dimension}} </td>
        </ng-container>

        <!-- Is public Column -->
        <ng-container matColumnDef="ispublic">
          <th mat-header-cell *matHeaderCellDef> {{'Album.IsPublic' | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.IsPublic"> </mat-checkbox>
          </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef> {{'Common.Title' | translate}} </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-form-field>
              <input matInput [(ngModel)]="element.Title">
            </mat-form-field>  
          </td>
        </ng-container>

        <!-- Desp Column -->
        <ng-container matColumnDef="desp">
          <th mat-header-cell *matHeaderCellDef> {{'Common.Description' | translate}} </th>
          <td mat-cell *matCellDef="let element"> 
            <mat-form-field>
              <input matInput [(ngModel)]="element.Desp">
            </mat-form-field>            
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator #paginatorPhoto [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
    <div style="margin-top: 20px;">
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Assignment">
    <div [hidden]="isUploading">
      <mat-radio-group class="photoupload-radio-group" [(ngModel)]="assignMode">
        <mat-radio-button class="photoupload-radio-button" *ngFor="let am of arAssignMode" [value]="am.Value">
          {{am.Name | translate}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="isAssginToExistingAlbum()" [hidden]="isUploading">
      <div class="example-container mat-elevation-z8">
        <table mat-table #table [dataSource]="dataSourceAlbum">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
          </ng-container>

          <!-- Thumbnail column -->
          <ng-container matColumnDef="thumbnail">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <img style="object-fit: contain;" src="{{element.ThumbnailInAPIUrl}}">
            </td>
          </ng-container>

          <!-- Title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> {{'Common.Title' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.Title}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedAlbumColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedAlbumColumns;" (click)="selection.toggle(row)">
          </tr>
        </table>
      </div>
    </div>

    <div *ngIf="isAssginToNewAlbum()" [hidden]="isUploading">
      <acgallery-album-detail [objAlbum]="albumCreate" [uiMode]="1"></acgallery-album-detail>
    </div>
    <div style="margin-top: 20px;">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Submit">
    <mat-progress-bar class="progress-margin" color="primary">
    </mat-progress-bar>

    <div style="margin-top: 20px;">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-vertical-stepper>

<!-- <div class="container" *ngIf="canUploadPhoto()">
  <div class="row m-3 p-3" [hidden]="isUploading">
    <div class="col-md-3">
      <div class="form-control-file btn btn-primary mx-auto" id="load-file-button-id" #uploadFileRef>
        <div>{{'Photo.ChoosePhoto' | translate}}</div>
      </div>
    </div>

    <div class="col-md-9">

      <h3>{{'Photo.UploadQueue' | translate}}</h3>

    </div>
  </div>

  <br />


  <div class="row p-3 m-3" [hidden]="!isUploading">
    <div style="padding: 20%;text-align:center;">
      <h3>{{'Message.UploadingInfo' | translate}}</h3>
    </div>

    <section class="progress-section">
      <mat-progress-bar class="progress-margin" color="primary" mode="indeterminate">
      </mat-progress-bar>
    </section>
  </div>

  <hr />
  <div class="row p-3 m-10" [hidden]="isUploading">
    <input type="submit" class="btn btn-secondary" (click)="onSubmit($event)" />
  </div>
</div> -->