.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.progress-margin {
  margin: 0 10px;
}

.photoupload-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.photoupload-radio-button {
  margin: 5px;
}
