<div class="container">
    <div class="container" *ngIf="canUploadPhoto()">
        <div class="col-md-3">
            <div class="form-control-file btn btn-primary mx-auto" id="load-file-button-id" #uploadFileRef>
                <div>{{'Photo.ChoosePhoto' | translate}}</div>
            </div>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>{{'Photo.UploadQueue' | translate}}</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">{{'Common.ID' | translate}}</th>
                        <th width="15%">{{'Common.Name' | translate}}</th>
                        <th width="15%">{{'Photo.FileSize' | translate}}</th>
                        <th width="15%">{{'Photo.Dimension' |translate}}</th>
                        <th width="5%">{{'Album.IsPublic' | translate}}</th>
                        <th width="15%">{{'Common.Title' | translate}}</th>
                        <th width="15%">{{'Common.Description' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let updphoto of arUpdPhotos">
                        <td><strong>{{updphoto.ID}}</strong></td>
                        <td><strong>{{updphoto.OrgName}}</strong></td>
                        <td nowrap>{{updphoto.Size}}</td>
                        <td nowrap>{{updphoto.Dimension}}</td>
                        <td><input type="checkbox" [(ngModel)]="updphoto.IsPublic" /></td>
                        <td><input type="text" [(ngModel)]="updphoto.Title" /></td>
                        <td><input type="text" [(ngModel)]="updphoto.Desp" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="row">
            <input type="radio" name="assignAlbum" [checked]="assignAlbum == 0" (click)="onAssignAblumClick(0)">
            <label>{{"Photo.Upload_NoAlbum" | translate}}</label>
        </div>
        <div class="row">
            <input type="radio" name="assignAlbum" [checked]="assignAlbum == 1" (click)="onAssignAblumClick(1)">
            <label>{{"Photo.Upload_AssignExistAlbum" | translate}}</label>
        </div>
        <div class="row" *ngIf="canCreateAlbum()">
            <input type="radio" name="assignAlbum" [checked]="assignAlbum == 2" (click)="onAssignAblumClick(2)">
            <label>{{"Photo.Upload_AssignNewAlbum" | translate}}</label>
        </div>
    </div>

    <div class="row" *ngIf="isAssginToExistingAlbum()">
        <table class="table w-100 p-3">
            <thead class="thead-default">
                <tr>
                    <th></th>
                    <th></th>
                    <th>{{'Common.Title' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let album of allAlbum">
                    <td>
                        <div class="checkbox"><input type="checkbox" [(ngModel)]="album.IsSelected"></div>
                    </td>
                    <td><img src="{{album.Thumbnail}}" class="img-rounded pull-xs-left" style="display: block; width: 100% !important;height: auto !important;"
                            alt="..."></td>
                    <td>{{album.Title}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" *ngIf="isAssginToNewAlbum()">
        <md-card class="w-100 p-3">
            <md-card-header>
                <md-card-title>{{"Photo.Upload_AssignNewAlbum" | translate}}</md-card-title>
            </md-card-header>
            <md-card-content>
                <form #albumForm="ngForm">
                    <md-input-container class="w-100 p-3">
                        <input mdInput placeholder="{{'Common.Title' | translate}}" required maxlength="20" [(ngModel)]="albumCreate.Title" name="title"
                            #title="ngModel">
                        <md-hint align="end">{{albumCreate.Title && albumCreate.Title.length}} / 20</md-hint>
                    </md-input-container>

                    <md-input-container class="w-100 p-3">
                        <input mdInput placeholder="{{'Common.Description' | translate}}" maxlength="20" [(ngModel)]="albumCreate.Desp" name="albumdesp"
                            #albumdesp="ngModel">
                        <md-hint align="end">{{albumCreate.Desp && albumCreate.Desp.length}} / 20</md-hint>
                    </md-input-container>

                    <md-checkbox [(ngModel)]="albumCreate.IsPublic" name="ispubl">{{"Album.IsPublic" | translate}}</md-checkbox>

                    <md-input-container class="w-100 p-3">
                        <input mdInput placeholder="{{'Album.AccessCode' | translate}}" maxlength="20" [(ngModel)]="albumCreate.AccessCode" name="accesscode" #accesscode="ngModel">
                        <md-hint align="end">{{albumCreate.AccessCode && albumCreate.AccessCode.length}} / 20</md-hint>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </div>

    <div class="row">
      <section class="m-10">
        <md-progress-bar
            class="m-10"
            color="primary"
            mode="determinate"
            [value]="progressNum">
        </md-progress-bar>
      </section>
    </div>

    <hr />
    <div class="row p-3 m-10">
        <input type="submit" class="btn btn-secondary" (click)="onSubmit($event)" />
    </div>
</div>
