<div class="container">
    <div class="container" *ngIf="canUploadPhoto()">
        <div class="col-md-3">
            <div class="row">
                <div class="form-control-file btn btn-primary" id="load-file-button-id" #uploadFileRef>
                    <div>Select files</div>
                </div>
            </div>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload queue</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th width="10%">ID</th>
                        <th width="15%">OrgName</th>
                        <th width="15%">Size</th>
                        <th width="15%">Dimension</th>
                        <th width="5%">Public</th>
                        <th width="15%">Title</th>
                        <th width="15%">Desp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let updphoto of arUpdPhotos">
                        <td><strong>{{updphoto.ID}}</strong></td>
                        <td><strong>{{updphoto.OrgName}}</strong></td>
                        <td nowrap>{{updphoto.Size}}</td>
                        <td nowrap>{{updphoto.Dimension}}</td>
                        <td><input type="checkbox" [(ngModel)]="updphoto.IsPublic" /></td>
                        <td><input type="text" [(ngModel)]="updphoto.Title" /></td>
                        <td><input type="text" [(ngModel)]="updphoto.Desp" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br />

    <div class="container">
        <div class="row">
            <input type="radio" name="assignAlbum" [checked]="assignAlbum == 0" (click)="onAssignAblumClick(0)">
            <label>Not assign to album</label>
        </div>
        <div class="row">
            <input type="radio" name="assignAlbum" [checked]="assignAlbum == 1" (click)="onAssignAblumClick(1)">
            <label>Assign to existing album</label>
        </div>
        <div class="row" *ngIf="canCreateAlbum()">
            <input type="radio" name="assignAlbum" [checked]="assignAlbum == 2" (click)="onAssignAblumClick(2)">
            <label>Assign to a new album</label>
        </div>
    </div>

    <div class="row" *ngIf="isAssginToExistingAlbum()">
        <table class="table">
            <thead class="thead-default">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let album of allAlbum">
                    <td>
                        <div class="checkbox"><input type="checkbox" [(ngModel)]="album.IsSelected"></div>
                    </td>
                    <td><img src="{{album.Thumbnail}}" class="img-rounded pull-xs-left" style="display: block; width: 100% !important;height: auto !important;"
                            alt="..."></td>
                    <td>{{album.Title}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row" *ngIf="isAssginToNewAlbum()">
        <md-card>
            <md-card-header>
                <md-card-title>New Album</md-card-title>
            </md-card-header>
            <md-card-content>
                <form #albumForm="ngForm">
                    <md-input-container class="control-full-width">
                        <input mdInput placeholder="{{'Common.Title' | translate}}" required maxlength="20" [(ngModel)]="albumCreate.Title" name="title"
                            #title="ngModel">
                        <md-hint align="end">{{albumCreate.Title && albumCreate.Title.length}} / 20</md-hint>
                    </md-input-container>

                    <md-input-container class="control-full-width">
                        <input mdInput placeholder="{{'Common.Description' | translate}}" maxlength="20" [(ngModel)]="albumCreate.Desp" name="albumdesp"
                            #albumdesp="ngModel">
                        <md-hint align="end">{{albumCreate.Desp && albumCreate.Desp.length}} / 20</md-hint>
                    </md-input-container>

                    <md-checkbox class="control-full-width" [(ngModel)]="albumCreate.IsPublic" name="ispubl">Is Public</md-checkbox>

                    <md-input-container class="control-full-width">
                        <input mdInput placeholder="Access Code" maxlength="20" [(ngModel)]="albumCreate.AccessCode" name="accesscode" #accesscode="ngModel">
                        <md-hint align="end">{{albumCreate.AccessCode && albumCreate.AccessCode.length}} / 20</md-hint>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </div>

    <div class="row">
        <!--<progressbar max="100" >
            <span style="color:white; white-space:nowrap;">{{progressNum}} %</span>
        </progressbar>-->
    </div>

    <div class="row">
        <input type="submit" class="btn btn-secondary" (click)="onSubmit($event)" />
    </div>
</div>