<mat-card>
  <mat-card-title>About</mat-card-title>
  <mat-card-content>
    <p>When the Yahoo! has been sold out, I start to worry about the future of Flickr.com.</p>
  </mat-card-content>
</mat-card>

<div class="container">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">About this app</h4>
    <p>When the Yahoo! has been sold out, I start to worry about the future of Flickr.com.</p>
    <p class="m-b-0">It's time for me to build an own Photo gallery.</p>
    <a href="https://www.github.com/alvachien/acgallery">An open-source project hosted in Github</a>
  </div>
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">About author</h4>
    <p>Enjoy coding~</p>
    <p class="m-b-0">Using those fantastic new technologies for this app is quite interesting!</p>
  </div>
</div>
