<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">{{'Nav.Photos' | translate}} - {{'Common.ListView' | translate}}</h3>
    </div>

    <div class="panel-body">

        <div class="card-deck">
            <div class="card p-3 m-3" *ngFor="let photo of photos; let idx = index;">
                <a (click)="onPhotoClick(idx)" title="{{photo.title}}">
                    <img class="card-img" src="{{photo.thumbnailFileUrl}}" alt="{{photo.updtime}}" />
                </a>
                <div class="card-block">
                    <h4 class="card-title">{{photo.title}}</h4>
                    <p class="card-text">{{photo.desp}}</p>
                    <a (click)="onChangePhotoAssign(photo)" role="button" class="card-link">{{'Common.Change' | translate}}</a>
                    <a (click)="onViewPhotoEXIFDialog(photo)" role="button" class="card-link">EXIF</a>
                </div>
            </div>
        </div>

        <!--<div class="acgallery-container" itemscope itemtype="http://schema.org/ImageGallery">
            <figure *ngFor="let photo of photos" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a  class="page-link" (click)="onPictureClick()" itemprop="contentUrl">
                    <img src="{{photo.thumbnailFileUrl}}" itemprop="thumbnail" alt="{{photo.updtime}}" />
                </a>

                <! -- optionally use this method to store image dimensions for PhotoSwipe -->
                <!--
                <meta itemprop="width" content="{{photo.width}}">
                <meta itemprop="height" content="{{photo.height}}">

                <figcaption itemprop="caption description">{{photo.title}}</figcaption>
            </figure>
        </div>-->

    </div>
</div>
