/**
 * Common styles
 *
 * Boilerplate CSS, shared across static content pages. Changes to this file
 * must be tested against all pages depending on it. Page-specific styles, such
 * as particular padding requirements, should be left to page-specific sheets.
 */

/**
 * Typography
 * See: https://material.angularjs.org/latest/CSS/typography
 */

html,
body {
  color: #212121;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

.md-display-3 { font-size: 64px; font-weight: 300; }
.md-display-2 { font-size: 48px; font-weight: 400; }
.md-display-1 { font-size: 36px; font-weight: 500; }
.md-headline  { font-size: 24px; font-weight: 500; }
.md-body      { font-size: 16px; font-weight: 400; }
.md-caption   { font-size: 14px; font-weight: 300; }

.md-display-3,
.md-display-2,
.md-display-1,
.md-headline,
.md-caption {
  line-height: 1.2em;
}

.md-body {
  line-height: 1.5em;
}

b { font-weight: 600; }

a:active,
a:hover {
  outline: none;
}

a img,
a:visited img {
  border: none;
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .md-display-2 { font-size: 28px; }
  .md-display-1 { font-size: 24px; }
  .md-headline  { font-size: 18px; }
  .md-body      { font-size: 14px; }
}

/** Lists */

.md-list {
  box-sizing: border-box;
  list-style: none;
  padding-left: 1.4em;
}

.md-list li {
  margin-bottom: 1.2em;
}

.md-list li:last-child {
  margin-bottom: 0;
}

ul.md-list li {
  position: relative;
}

ul.md-list li:before {
  content: "•";
  font-size: 1em;
  position: absolute;
  left: -27px;
  top: 0;
}

.md-list .md-li-title {
  font-weight: 500;
}

/** Header */

.header-wrap {
  background: #FFF;
  box-sizing: border-box;
  height: 60px;
  line-height: 58px;
  padding: 0 30px 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1200;
}

.header-wrap:after {
  background: -webkit-linear-gradient(to right,#FAD961,#F76B1C);
  background: linear-gradient(to right,#FAD961,#F76B1C);
  bottom: 0;
  content: " ";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1001;
}

.header-title-link {
  display: inline-block;
  padding: 0;
  line-height: inherit;
  vertical-align: middle;
}

.header-logo {
  height: 24px;
  opacity: 1;
  position: static;
  vertical-align: middle;
}

.header-nav-toggle {
  color: #757575;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  width: 60px;
}

.header-nav-toggle:hover,
.header-nav-toggle:focus {
  background: #EEE;
  outline: 0;
}

.header-nav-toggle .material-icons-extended {
  vertical-align: middle;
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .header-wrap {
    padding: 0 5px 0 0;
  }

  .header-nav-toggle {
    width: 48px;
  }

  .header-logo {
    height: 18px;
  }
}

/** Navigation (common) */

.nav-link {
  position: relative;
}

.nav-link.active {
  font-weight: 500;
}

.nav-link-beta {
  color: #3A3A3A;
  font-size: 9px;
  font-weight: 500;
  position: absolute;
  right: 0.5em;
  text-transform: uppercase;
  top: -1.25em;
}

/** Header navigation */

.header-nav {
  display: inline-block;
  float: right;
  padding-left: 20px;
}

.header-nav .nav-section {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav .nav-item {
  display: inline-block;
}

.header-nav .nav-item:hover {
  background: #EEE;
}

.header-nav .nav-link {
  box-sizing: border-box;
  color: #616161;
  display: inline-block;
  font-size: 14px;
  height: 58px;
  padding: 0 1.2em;
  text-decoration: none;
}

/* root_controller.js WIDTH_TABLET: 1024 */
@media screen and (max-width: 1024px) {
  .header-nav {
    display: none;
  }
}

/** Sidebar navigation */

.sidebar-nav {
  background: #F5F5F5;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  height: calc(100vh - 60px);
  left: -265px;
  line-height: 1.2em;
  overflow: auto;
  position: fixed;
  top: 60px;
  transition: left 0.2s cubic-bezier(0.4, 0, 1, 1);
  width: 260px;
  z-index: 1199;

  /**
   * Null transform hack, to force a hardware compositing layer in mobile
   * Safari. Without this, the sidebar does not extend to the bottom of the
   * viewport while scrolling down.
   */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

body.nav-open {
  /**
   * TODO(donmccurdy): Overflow on body does not apply in mobile Safari
   * without also setting position, but setting position:fixed on the body
   * breaks our absolute-based layout on the landing page.
   * Reference: http://stackoverflow.com/a/13645522/1314762
   */
  overflow: hidden;
}

body.nav-open .sidebar-nav {
  left: 0;
  transition: left 0.2s cubic-bezier(0.0, 0.0, 0.2, 1);
}

body.nav-open .pac-container {
  /** Autocomplete should be hidden when sidebar is open. */
  display: none;
}

.sidebar-nav .nav-section {
  border-bottom: 1px solid #E0E0E0;
  list-style: none;
  margin: 0;
  padding: 1em 0;
}

.sidebar-nav .nav-section:last-child {
  border-bottom: 0;
}

.sidebar-nav .nav-link {
  color: inherit;
  display: block;
  padding: 1em 2em;
  text-decoration: none;
}

.sidebar-nav .nav-link:hover {
  background: #EEE;
}

.sidebar-nav .nav-link-beta {
  left: 13em;
  top: 0.5em;
}

.nav-mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 1, 1),
              visibility 0s linear 0.2s;
  visibility: hidden;
  width: 100%;
  z-index: 1198;
}

body.nav-open .nav-mask {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.0, 0.0, 0.2, 1),
              visibility 0s linear 0s;
  visibility: inherit;
}

/** Sections */

.main-content-wrapper {
  margin-top: 60px;
}

.section-grey,
.section-orange,
.section-intro,
.section-grey + .section,
.section-orange + .section,
.section-intro + .section {
  border-top: 0;
}

.section-grey { background: #F8F8F8; }
.section-orange { background: #E65100; color: #FFF; }

.section-intro {
  background-position: center;
  background-size: cover;
}

.section-intro .section-inner {
  padding: 40px;
}

.section-intro .md-display-2 {
  color: #FFF;
  margin: 0;
  text-align: center;
}

.section-inner {
  box-sizing: border-box;
  margin: auto;
  max-width: 960px;
  padding: 60px 40px;
  text-align: center;
  width: 100%;
}

.section-inner.pad-30 { padding: 30px; }
.section-inner.pad-40 { padding: 40px; }

.section .md-display-1 {
  margin: 0 auto 0.5em auto;
}

.section-img {
  height: auto;
  margin: 0 auto 40px auto;
  max-width: 280px;
  width: 100%;
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .section-inner {
    padding: 40px 20px;
  }

  .section-intro .section-inner {
    padding: 40px 20px;
  }

  .section-desc {
    text-align: left;
  }

  .section-inner-mobile-fullbleed {
    padding-left: 0;
    padding-right: 0;
  }

  .section-inner-mobile-fullbleed > .md-display-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/** Privacy disclaimer */

.landing-privacy {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 550px;
  padding-left: 50px;
  position: relative;
  text-align: left;
}

.landing-privacy-icon {
  left: 0;
  margin-top: -16px;
  position: absolute;
  top: 50%;
}

/** Divider */

.hr {
  border-top: 1px solid #9E9E9E;
  margin: 60px auto;
  width: 80%;
}

/** Fine print */

.fine {
  color: #757575;
  font-size: 16px;
  line-height: 1.2em;
}

/** Button styles */

.btn {
  background: #EEE;
  border: 0;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;  /** Fixes wrapping issue in Firefox on Ubuntu. */
}

.btn:active { outline: 0; }  /** Remove outline during click, but not focus. */
.btn::-moz-focus-inner { border: 0; }  /** Remove inner dotted outline in FF */

.btn-fill-orange {
  color: #FFF;
  background-color: #F76B1C;
}

.btn-fill-orange:focus {
  box-shadow: 0 0 3px 3px rgba(91, 157, 217, 0.8);
}

.btn-fill-orange:hover {
  background-color: #EF5600;
}

.btn-outline {
  border: 1px solid #757575;
  color: #757575;
}

.btn-fill {
  background: #757575;
  border-color: #757575;
  color: #FFF;
}

.btn-outline:hover,
.btn-fill:hover {
  background: #F76B1C;
  border-color: #F76B1C;
  color: #FFF;
}

/** Flat buttons */

.flat-btn {
  color: #4285F4;
  display: inline-block;
  font-size: 14px;
  padding: 8px 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.flat-btn:active,
.flat-btn:hover,
.flat-btn:focus {
  background: rgba(158, 158, 158, 0.2);
  border-radius: 2px;
}

.md-body .flat-btn {
  margin-left: -12px;
}

/** Header buttons */

.btn.btn-header {
  border-radius: 4px;
  float: right;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  margin-top: 9px;
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .btn.btn-header {
    background: none;
    color: #F76B1C;
    margin-left: 0;
    padding: 0 8px;
  }

  .btn.btn-header:hover {
    background: #F0F0F0;
  }
}

/** Address form */

.address-wrapper {
  margin: 34px auto 20px auto;
  max-width: 550px;
  position: relative;
  width: 100%;
}

.address-form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.address-input {
  border-radius: 4px 0 0 4px;
  border: 2px solid #EEE;
  border-right: 0;
  box-sizing: border-box;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  font-size: 20px;
  height: 60px;
  padding: 0 10px 0 20px;
  width: 100%;
}

.ie9 .address-input {
  border: 2px solid #EEE;
  border-radius: 4px;
}

.address-wrapper .address-input:focus {
  border-color: #2196F3;
  outline: none;
}

.address-form .btn {
  border-radius: 0 4px 4px 0;
  display: block;
  font-size: 16px;
  height: 60px;
  margin-left: 0;
  padding: 0 24px;
}

.ie9 .address-form .btn {
  border-radius: 4px;
  margin: 36px auto 0 auto; /* Button drops below input. */
}

/** Address form (small) */

.address-wrapper-small {
  margin: 0 auto;
  max-width: 375px;
  padding-left: 60px;
  text-align: left;
}

.address-wrapper-small .md-headline {
  font-size: 18px;
  margin-bottom: 16px;
}

.address-wrapper-small .address-input {
  font-size: 16px;
  height: 45px;
}

.address-wrapper-small .btn {
  font-size: 16px;
  height: 45px;
  padding: 0 10px;
}

.address-wrapper-small .landing-privacy {
  font-size: 14px;
  font-weight: 300;
  margin-left: 0;
  margin-top: 20px;
  padding-left: 30px;
}

.address-wrapper-small .landing-privacy-icon {
  width: 18px;
}

/* root_controller.js WIDTH_TABLET: 768 */
@media screen and (max-width: 1024px) {
  .address-input {
    font-size: 16px;
    height: 45px;
  }

  .address-form .btn {
    font-size: 16px;
    height: 45px;
    padding: 0 10px;
  }
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .address-wrapper {
    margin: 20px auto;
  }

  .address-input {
    padding: 0 10px;
  }

  .address-wrapper .material-icons-extended {
    display: none;
  }

  .address-form .btn {
    width: auto;
    padding: 0 15px;
  }

  .address-wrapper-small {
    padding: 0;
  }

  .address-wrapper-small .md-headline {
    font-size: 14px;
  }

  .address-wrapper-small .landing-privacy {
    color: inherit;
    font-size: 12px;
    padding-left: 25px;
  }

  .address-wrapper-small .landing-privacy-icon {
    height: auto;
    width: 14px;
  }
}

/** Accent containers */

.accent {
  border: 2px solid #EEEEEE;
  box-sizing: border-box;
}

.accent-border-orange {
  border: 1px solid #EEEEEE;
  border-top: 4px solid #F76B1C;
  background: #F8F8F8;
}

.accent-bg-yellow {
  background: #FFCA28;
  border: 0;
}

/** Responsive utilities */

/* root_controller.js WIDTH_TABLET: 1024 */
@media screen and (min-width: 1024px) {
  .desktop-line {
    display: block;
  }

  .desktop-hide {
    display: none;
  }
}

.mobile-show {
  display: none;
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: initial;  /* initial ≈ inline. */
  }
}

/** Flexbox */

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}

.flex-column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-space-between {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}

/** Autocomplete */

.pac-container {
  z-index: 10000;
}

.pac-container:after {
  display: none;
}

/** Modal */

.modal {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: rgba(255,255,255,0.95);
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}

.modal.hidden {
  display: none;
}

.modal-close {
  color: #888;
  cursor: pointer;
  font-size: 30px;
  height: 70px;
  line-height: 70px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
}

.modal-close:hover {
  background: rgba(200, 200, 200, 0.5);
  border-bottom-left-radius: 4px;
  color: #000;
}

.modal-content {
  margin: auto;
}

.modal-title {
  color: #F76B1C;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 36px;
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .modal-title {
    font-size: 24px;
    text-align: center;
  }
}

/** Modal (IE9) */

.ie9 .modal {
  padding-top: 150px;
  text-align: center;
}

.ie9 .modal-title {
  text-align: center;
}

/** Border gradient */

.border-gradient-top:before,
.border-gradient-bottom:after {
    background: -webkit-linear-gradient(to right,#FAD961,#F76B1C);
    background: linear-gradient(to right,#FAD961,#F76B1C);
    content: " ";
    display: block;
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
}

.border-gradient-top:before {
  top: 0;
}

.border-gradient-bottom:after {
  bottom: 0;
}

/** "Next page" link section */

.section-next-page .section-inner {
  padding: 45px 15px;
}

.section-next-page .md-headline {
  margin-bottom: 1.3em;
}

/** Footer */

.footer-wrapper {
  background: #F5F5F5;
  height: 80px;
  line-height: 80px;
  padding: 0 34px;
  position: relative;
  text-align: center;
}

.footer-title-link {
  display: block;
  position: absolute;
  padding: 0;
}

.footer-logo {
  height: 24px;
  margin: 0;
  opacity: 0.54;
  vertical-align: middle;
}

.footer-links {
  margin: 0;
}

.footer-link {
  color: #616161;
  font-size: 14px;
  font-weight: 400;
  margin-left: 50px;
  text-decoration: none;
}

.footer-link:first-child {
  margin-left: 0;
}

/* root_controller.js WIDTH_TABLET: 1024 */
@media screen and (max-width: 1024px) {
  .footer-wrapper {
    height: auto;
    line-height: inherit;
    overflow: hidden;
    padding: 20px 34px;
  }

  .footer-title-link {
    margin: 0 auto;
    position: static;
  }

  .footer-links {
    display: block;
    margin-top: 20px;
    padding-left: 0;
  }
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .footer-wrapper {
    padding: 6%;
  }

  .footer-link {
    margin-left: 8%;  /* 25px max for 320px, scale up from there. */
  }
}

.section-list {
  list-style: none;
  margin: 0 auto;
  max-width: 500px;
  padding: 0;
  padding-left: 2em;
  text-align: left;
}

.section-list li {
  position: relative;
}

.section-list .li-num {
  background: #9E9E9E;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  font-size: 18px;
  height: 30px;
  left: -54px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 30px;
}

/* root_controller.js WIDTH_MOBILE: 768 */
@media screen and (max-width: 768px) {
  .section-list {
    padding-left: 1.5em;
    text-align: center;
  }

  .section-list .md-body {
    margin-top: 1em;
  }

  .section-list .md-headline {
    font-size: 16px;
    margin-top: 1em;
  }

  .section-list .li-num {
    height: 45px;
    font-size: 24px;
    font-weight: bold;
    line-height: 45px;
    position: static;
    width: 45px;
  }
}
