<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Album List</h3>
    </div>

    <div class="panel-body">
        <div class="acalbumlist-container" itemscope itemtype="http://schema.org/ImageGallery">
            <figure *ngFor="let album of albumes" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a  class="page-link" (click)="onAlbumClick(album.id)" itemprop="contentUrl">
                    <img src="{{album.firstPhotoThumnailUrl}}" itemprop="thumbnail" alt="{{album.photoCount}}" />
                </a>

                <figcaption itemprop="caption description">{{album.title}}</figcaption>
            </figure>
        </div>
    </div>
</div>
