<nz-page-header class="site-page-header" [nzTitle]="'Common.Dashboard' | transloco" [nzSubtitle]="'Common.KeyFigure' | transloco">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>{{'Common.Dashboard' | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
  </nz-page-header-extra>  
</nz-page-header>

<nz-row [nzGutter]="8">
  <nz-col [nzSpan]="12">
    <nz-statistic
      [nzValue]="statInfo.albumAmount | number"
      [nzTitle]="'Common.TotalAlbum' | transloco">
    </nz-statistic>
  </nz-col>
  <nz-col [nzSpan]="12">
    <nz-statistic
      [nzValue]="statInfo.photoAmount | number"
      [nzTitle]="'Common.TotalPhoto' | transloco">
    </nz-statistic>
  </nz-col>
</nz-row>
