<div *ngIf="objAlbum" class="container">
    <md-card>
        <md-card-header>
            <md-card-title>New Album</md-card-title>
        </md-card-header>
        <md-card-content>
            <form (ngSubmit)="onSubmit()" #albumForm="ngForm">
                <md-input-container class="control-full-width">
                    <input mdInput placeholder="{{'Common.Title' | translate}}" required maxlength="20" [(ngModel)]="objAlbum.Title" name="title"
                        #title="ngModel">
                    <md-hint align="end">{{objAlbum.Title && objAlbum.Title.length}} / 20</md-hint>
                </md-input-container>

                <md-input-container class="control-full-width">
                    <input mdInput placeholder="{{'Common.Description' | translate}}" maxlength="20" [(ngModel)]="objAlbum.Desp" name="albumdesp"
                        #albumdesp="ngModel">
                    <md-hint align="end">{{objAlbum.Desp && objAlbum.Desp.length}} / 20</md-hint>
                </md-input-container>

                <md-checkbox class="control-full-width" [(ngModel)]="objAlbum.IsPublic" name="ispubl">{{'Album.IsPublic' | translate}}</md-checkbox>

                <md-input-container class="control-full-width" *ngIf="needShowAccessCode()">
                    <input mdInput placeholder="{{'Album.AccessCode' | translate}}" maxlength="20" [(ngModel)]="objAlbum.AccessCode" name="accesscode"
                        #accesscode="ngModel">
                    <md-hint align="end">{{objAlbum.AccessCode && objAlbum.AccessCode.length}} / 20</md-hint>
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
    <hr />

    <div class="card-deck">
        <div class="card p-3" *ngFor="let photo of photos">
            <a (click)="onPhotoClick()" title="{{photo.title}}">
                <img class="card-img" src="{{photo.thumbnailFileUrl}}" alt="{{photo.updtime}}" />
                <!--style="display: block; width: 100% !important;height: auto !important;" />-->
            </a>
            <div class="card-block">
                <h4 class="card-title">{{photo.title}}</h4>
                <p class="card-text">{{photo.desp}}</p>
                <a (click)="onChangePhotoAssign(photo)" class="card-link">Change</a>
                <a (click)="onViewPhotoEXIFDialog(photo)" class="card-link">EXIF</a>
            </div>
        </div>
    </div>
</div>
