<div *ngIf="objAlbum" class="container">
    <md-card>
        <md-card-header>
            <md-card-title>New Album</md-card-title>
        </md-card-header>
        <md-card-content>
            <form (ngSubmit)="onSubmit()" #albumForm="ngForm">
                <md-input-container class="control-full-width">
                    <input mdInput placeholder="{{'Common.Title' | translate}}" required maxlength="20" [(ngModel)]="albumCreate.Title" name="title"
                        #title="ngModel">
                    <md-hint align="end">{{albumCreate.Title && albumCreate.Title.length}} / 20</md-hint>
                </md-input-container>

                <md-input-container class="control-full-width">
                    <input mdInput placeholder="{{'Common.Description' | translate}}" maxlength="20" [(ngModel)]="albumCreate.Desp" name="albumdesp"
                        #albumdesp="ngModel">
                    <md-hint align="end">{{albumCreate.Desp && albumCreate.Desp.length}} / 20</md-hint>
                </md-input-container>

                <md-checkbox class="control-full-width" [(ngModel)]="albumCreate.IsPublic" name="ispubl">{{'Album.IsPublic' | translate}}</md-checkbox>

                <md-input-container class="control-full-width" *ngIf="needShowAccessCode()">
                    <input mdInput placeholder="{{'Album.AccessCode' | translate}}" maxlength="20" [(ngModel)]="albumCreate.AccessCode" name="accesscode"
                        #accesscode="ngModel">
                    <md-hint align="end">{{albumCreate.AccessCode && albumCreate.AccessCode.length}} / 20</md-hint>
                </md-input-container>
            </form>
        </md-card-content>
    </md-card>
    <hr />

    <div class="panel-body">
        <div class="card-deck-wrapper">
            <div class="card-deck popup-gallery">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card card-block text-xs-center" *ngFor="let photo of photos">
                    <a href="{{photo.fileUrl}}" title="{{photo.title}}">
                        <img src="{{photo.thumbnailFileUrl}}" alt="{{photo.updtime}}" class="img img-responsive thumbnail" style="display: block; width: 100% !important;height: auto !important;"
                        />
                    </a>
                    <div class="card-block">
                        <h4 class="card-title">{{photo.title}}</h4>
                        <p class="card-text">{{photo.desp}}</p>
                        <div class="card-block">
                            <button class="btn btn-link" *ngIf="canChangeAlbum(album)" (click)="onSetSelectedPhoto(photo)" data-toggle="modal" data-target="#modalPhoto">
                                Change
                            </button>
                            <button class="btn btn-link" (click)="onSetSelectedPhoto(photo)" data-toggle="modal" data-target="#modalPhotoExif">
                                EXIF
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
