<div *ngIf="album" class="container">
    <form (ngSubmit)="onSubmit()" #albumForm="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title"
                   required readonly
                   [(ngModel)]="album.Title" name="title"
                   #title="ngModel">
            <div [hidden]="title.valid || title.pristine"
                 class="alert alert-danger">
                Title is required
            </div>
        </div>
        <div class="form-group">
            <label for="desp">Desp</label>
            <input type="text" class="form-control" id="desp" readonly
                   [(ngModel)]="album.Desp" name="desp">
        </div>
    </form>

    <hr />

    <div class="panel-body">
        <div class="card-deck-wrapper">
            <div class="card-deck popup-gallery">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card card-block text-xs-center" *ngFor="let photo of photos">
                    <a href="{{photo.fileUrl}}" title="{{photo.title}}">
                        <img src="{{photo.thumbnailFileUrl}}" alt="{{photo.updtime}}" class="img img-responsive thumbnail" style="display: block; width: 100% !important;height: auto !important;" />
                    </a>
                    <div class="card-block">
                        <h4 class="card-title">{{photo.title}}</h4>
                        <p class="card-text">{{photo.desp}}</p>
                        <div class="card-block">
                            <button class="btn btn-link" *ngIf="canChangeAlbum(album)" (click)="onSetSelectedPhoto(photo)" data-toggle="modal" data-target="#modalPhoto">
                                Change
                            </button>
                            <button class="btn btn-link" (click)="onSetSelectedPhoto(photo)" data-toggle="modal" data-target="#modalPhotoExif">
                                EXIF
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" *ngIf="selectedPhoto">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Change Photo metadata</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="title-input" class="col-xs-2 col-form-label">Title</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" id="title-input" [(ngModel)]="selectedPhoto.title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desp-input" class="col-xs-2 col-form-label">Desp</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" id="desp-input" [(ngModel)]="selectedPhoto.desp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSavePhotoMetadata()">Save changes</button>
                    </div>
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->

        <div class="modal fade" id="modalPhotoExif" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" *ngIf="selectedPhoto">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">EXIF info</h4>
                    </div>
                    <div class="modal-body">
                        <div style="max-height: 300px; overflow: auto;">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let exif of selectedPhoto.exifTags">
                                        <td>{{exif.group}}</td>
                                        <td>{{exif.name}}</td>
                                        <td>{{exif.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->
    </div>

    <div class="modal fade" id="modalAccessCode" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Enter Access Code</h4>
                </div>
                <div class="modal-body">
                    <div style="max-height: 300px; overflow: auto;">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div> <!-- /.modal -->
</div>
