<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Album List</h3>
    </div>
    <div class="panel-body">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card card-block text-xs-center" *ngFor="let album of albumes">
                    <img class="card-img-top img img-responsive full-width thumbnail" src="{{album.Thumbnail}}" alt="Album Image">
                    <div class="card-block">
                        <h4 class="card-title">{{album.Title}}</h4>
                        <p class="card-text">{{album.Desp}}</p>
                        <div class="card-block">
                            <a (click)="onSelect(album)" class="btn btn-primary">View {{album.PhotoCount}} Photos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
