<div class="container">
    <div class="row">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
            <div class="row">
                Assigned albums
            </div>
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let photo of assignedPhoto">
                        <td><div class="checkbox"><input type="checkbox" [(ngModel)]="photo.IsSelected"></div></td>
                        <td><img src="{{photo.thumbnailFileUrl}}" /></td>
                        <td>{{photo.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-1 col-md-1 col-xs-12 col-sm-12">
            <br />
            <br />
            <div class="row">
                <a class="btn btn-outline-danger" (click)="onRemoveAssignedPhoto()">></a>
            </div>
            <br />
            <div class="row">
                <a class="btn btn-outline-primary" (click)="onAddAssignedPhoto()"><</a>
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-xs-12 col-sm-12">
            <div class="row">
                Available photoes
            </div>
            <table class="table">
                <thead class="thead-default">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let photo of allPhoto">
                        <td><div class="checkbox"><input type="checkbox" [(ngModel)]="photo.IsSelected"></div></td>
                        <td><img src="{{photo.thumbnailFileUrl}}" /></td>
                        <td>{{photo.title}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
