<div *ngIf="album" class="container">
    <form (ngSubmit)="onSubmit()" #albumForm="ngForm">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title"
                   required
                   [(ngModel)]="album.Title" name="title"
                   #title="ngModel">
            <div [hidden]="title.valid || title.pristine"
                 class="alert alert-danger">
                Title is required
            </div>
        </div>
        <div class="form-group">
            <label for="desp">Desp</label>
            <input type="text" class="form-control" id="desp"
                   [(ngModel)]="album.Desp" name="desp">
        </div>

        <button type="submit" class="btn btn-default" [disabled]="!albumForm.form.valid">Submit</button>
        <button type="button" class="btn btn-default" (click)="newAlbum()">New Album</button>
    </form>

    <br /> 
    <hr />

    <div class="panel-body">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" *ngFor="let photo of album.Photoes">
            <div class="card card-block text-xs-center">
                <a class="fancybox" rel="gallery" href="{{photo.fileUrl}}">
                    <img class="card-img-top img img-responsive full-width thumbnail" src="{{photo.thumbnailFileUrl}}" alt="Album Image">
                </a>
                <div class="card-block">
                    <h4 class="card-title">{{photo.title}}</h4>
                    <p class="card-text">{{photo.desp}}</p>
                    <div class="card-block">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Org File: {{photo.orgFileName}}</li>
                            <li class="list-group-item">Uploaded at: {{photo.uploadedTime}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
