<div nz-row nzJustify="center">
  <nz-radio-group [(ngModel)]="viewMode">
    <label nz-radio-button nzValue="std">{{
      "Common.Standard" | transloco
    }}</label>
    <label nz-radio-button nzValue="adv">{{
      "Common.Advanced" | transloco
    }}</label>
  </nz-radio-group>
  <nz-divider nzType="vertical"></nz-divider>
  <nz-pagination
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="totalCount"
    [nzPageSize]="pageSize"
    [nzShowTotal]="rangeTemplate"
    nzShowQuickJumper
    (nzPageIndexChange)="onPageIndexChanged($event)"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} of {{ total }} items
  </ng-template>
</div>

<nz-divider></nz-divider>

<nz-image-group>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div
      nz-col
      nzXs="24"
      nzSm="24"
      nzMd="12"
      nzLg="8"
      nzXl="6"
      class="gutter-row"
      [nzSpan]="6"
      *ngFor="let pht of photos"
    >
      <div nz-col class="inner-box">
        <div nz-row>
          <img
            [src]="getFileUrl(pht)"
            (click)="onStartPreview(pht.photoId)"
            alt=""
          />
        </div>
        <div nz-row class="button-group-row">
          <button
            nz-button
            nzSize="small"
            nzShape="circle"
            (click)="onPhotoViewEXIF(pht)"
            style="margin-right: 4px"
          >
            <i nz-icon nzType="info"></i>
          </button>
          <nz-tag *ngFor="let tag of pht.tags" [nzColor]="'geekblue'">{{
            tag
          }}</nz-tag>
        </div>
        <div nz-row *ngIf="viewMode === 'adv'" class="button-group-row">
          <nz-button-group>
            <a
              nz-button
              nzType="link"
              (click)="onChangePhoto(pht)"
              nzSize="small"
              nzGhost
              >{{ "Common.Edit" | transloco }}</a
            >
            <a
              nz-button
              nzType="link"
              (click)="onDeletePhoto(pht)"
              nzSize="small"
              nzDanger
              >{{ "Common.Delete" | transloco }}</a
            >
          </nz-button-group>
        </div>
      </div>
    </div>
  </div>
</nz-image-group>

<nz-divider></nz-divider>

<div nz-row nzJustify="center">
  <nz-radio-group [(ngModel)]="viewMode">
    <label nz-radio-button nzValue="std">{{
      "Common.Standard" | transloco
    }}</label>
    <label nz-radio-button nzValue="adv">{{
      "Common.Advanced" | transloco
    }}</label>
  </nz-radio-group>
  <nz-divider nzType="vertical"></nz-divider>
  <nz-pagination
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="totalCount"
    [nzPageSize]="pageSize"
    [nzShowTotal]="rangeTemplate"
    nzShowQuickJumper
    (nzPageIndexChange)="onPageIndexChanged($event)"
  ></nz-pagination>
</div>

<nz-modal
  [(nzVisible)]="isExifVisible"
  nzTitle="EXIF"
  (nzOnCancel)="handleExifDlgCancel()"
  (nzOnOk)="handleExifDlgOk()"
>
  <ng-container *nzModalContent>
    <p>{{ "Common.CameraMaker" | transloco }}: {{ curExif.CameraMaker }}</p>
    <p>{{ "Common.CameraModel" | transloco }}: {{ curExif.CameraModel }}</p>
    <p>{{ "Common.LensModel" | transloco }}: {{ curExif.LensModel }}</p>
    <p>{{ "Common.Aperture" | transloco }}: {{ curExif.AVNumber }}</p>
    <p>{{ "Common.ShutterSpeed" | transloco }}: {{ curExif.ShutterSpeed }}</p>
    <p>{{ "Common.ISO" | transloco }}: {{ curExif.ISONumber }}</p>
  </ng-container>
</nz-modal>
