<nz-page-header class="site-page-header"
  (nzBack)="onBack()"
  nzBackIcon
  [nzTitle]="'Nav.About' | transloco"
  [nzSubtitle]="'Nav.About' | transloco"
>
</nz-page-header>
<article nz-typography>
  <h1 nz-typography>{{'Nav.About' | transloco}}</h1>
  <p nz-typography>
    When the Yahoo! has been sold out, I start to worry about the future of Flickr.com.
  </p>
  <p nz-typography>
    It's time for me to build an own Photo gallery.
    <span nz-typography>
      <strong>easier to share the photos; more powerful to control the authority;</strong>
    </span>.
  </p>

  <h2 nz-typography>Version and Released Date</h2>
  <p nz-typography>
    Version: (<span nz-typography><code>{{currentVersion}}</code></span> and <span nz-typography><code>Released at</code></span>), {{currentReleaseDate}}.
  </p>
  <!-- <div nz-typography>
    <ul>
      <li>
        <a href="/docs/spec/proximity">Principles</a>
      </li>
      <li>
        <a href="/docs/pattern/navigation">Patterns</a>
      </li>
      <li>
        <a href="/docs/resource/download">Resource Download</a>
      </li>
    </ul>
  </div> -->
  <p nz-typography>
    Enjoy <span nz-typography><kbd>coding</kbd></span> ...
  </p>
</article>
