<nz-page-header class="site-page-header" [nzTitle]="'Nav.About' | transloco" [nzSubtitle]="'Nav.About' | transloco">
</nz-page-header>
<article nz-typography>
  <h1 nz-typography>{{ 'Nav.About' | transloco }}</h1>
  <p nz-typography>When the Yahoo has been sold out, I am worrying about the future of Flickr.</p>
  <p nz-typography>
    It's time for me to build an own Photo gallery.
    <span nz-typography> <strong>easier to share the photos; more powerful to control the authority;</strong> </span>.
  </p>

  <h2 nz-typography>Version and Released Date</h2>
  <p nz-typography>
    {{ 'Nav.Version' | transloco }}: (<span nz-typography
      ><code>{{ currentVersion }}</code></span
    >,
    <span nz-typography
      >Released at: <code>{{ currentReleaseDate }}</code
      >.</span
    >)
  </p>
  <!-- <div nz-typography>
    <ul>
      <li>
        <a href="/docs/spec/proximity">Principles</a>
      </li>
      <li>
        <a href="/docs/pattern/navigation">Patterns</a>
      </li>
      <li>
        <a href="/docs/resource/download">Resource Download</a>
      </li>
    </ul>
  </div> -->
  <p nz-typography>
    Enjoy <span nz-typography><kbd>coding</kbd></span> ...
  </p>
</article>
