<nz-page-header class="site-page-header" [nzTitle]="'Nav.Albums' | transloco" [nzSubtitle]="currentMode | transloco">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/welcome">{{'Common.Dashboard' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item><a routerLink="/album">{{'Nav.Albums' | transloco}}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>{{currentMode | transloco}}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button nz-button [disabled]="isEditableMode" (click)="onSearch()">{{'Common.Search' | transloco}}</button>
    <button nz-button nzType="primary" [disabled]="!isEditableMode" (click)="onSave()">{{'Common.Save' | transloco}}</button>
  </nz-page-header-extra>  
</nz-page-header>
<nz-collapse nzGhost>  
  <nz-collapse-panel [nzHeader]="'Common.Detail' | transloco" [nzActive]="isEditableMode">
    <form nz-form [formGroup]="detailForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="title">{{'Common.Title' | transloco}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'Message.TitleIsMust' | transloco">
          <input nz-input formControlName="Title" id="title" />
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desp" nzRequired>{{'Common.Description' | transloco}}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your description!">
          <input nz-input id="desp" formControlName="Desp" />
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <label nz-checkbox formControlName="IsPublic">
            <span>{{'Album.IsPublic' | transloco}}</span>
          </label>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-collapse-panel>
</nz-collapse>

<nz-modal
  [(nzVisible)]="isAccessCodeDlgVisible"
  [nzTitle]="'Album.AccessCode' | transloco"
  (nzOnCancel)="handleAccessCodeDlgCancel()"
  (nzOnOk)="handleAccessCodeDlgOk()"
  [nzOkLoading]="isAccessCodeSubmitting">
  <p *nzModalContent>
    <input nz-input [placeholder]="accessCodeHint" [(ngModel)]="accessCodeInputted" />   
  </p>
</nz-modal>

<div *ngIf="isDisplayMode">
  <nz-divider [nzText]="'Nav.Photos' | transloco"></nz-divider>

  <acgallery-photo-list-core [totalCount]="totalCount" [pageSize]="pageSize" [photos]="photos" (paginationEvent)="onPaginationEvent($event)"></acgallery-photo-list-core>
</div>
