<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <img [src]="logoIcon" alt="logo">
        <h1>AC Photo Gallery</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="{{'Common.Dashboard' | transloco}}" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">{{'Common.Dashboard' | transloco}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/album">{{'Nav.Albums' | transloco}}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/photo">{{ 'Nav.Photos' | transloco }}</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="{{'Nav.About' | transloco}}" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/about">{{ 'Nav.About' | transloco }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/credits">{{ 'Nav.Credits' | transloco }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <div class="app-header-content">
          <nz-space [nzSize]="16">
            <nz-space>
              <a nz-dropdown [nzDropdownMenu]="menuLang" [nzClickHide]="false" [(nzVisible)]="visibleMenuLang">                
                <i nz-icon nzType="translation" nzTheme="outline"></i>
                {{'Common.Language' | transloco}}
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menuLang="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item (click)="onSetLanguage('en')">{{'Language.English' | transloco}}</li>
                  <li nz-menu-item (click)="onSetLanguage('zh')">{{'Language.SimpChinese' | transloco}}</li>
                </ul>
              </nz-dropdown-menu>
            </nz-space>
            <nz-space>
              <a nz-dropdown [nzDropdownMenu]="menuLogin" [nzClickHide]="false" [(nzVisible)]="visibleMenuUser">                
                <i nz-icon nzType="user" nzTheme="outline"></i>
                {{'Login.User' | transloco}}
                <i nz-icon nzType="down"></i>
              </a>
              <nz-dropdown-menu #menuLogin="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item *ngIf="!isLoggedIn" (click)="onLogin()">{{'Login.Login' | transloco}}</li>
                  <li nz-menu-item *ngIf="isLoggedIn" (click)="onUserDetail()">{{'Login.UserDetail' | transloco}}</li>
                  <li nz-menu-item *ngIf="isLoggedIn" (click)="onLogout()">{{'Login.Logout' | transloco}}</li>
                </ul>
              </nz-dropdown-menu>
            </nz-space>
            <nz-space>
              <button nz-button (click)="onOpenGithub()"><i nz-icon nzType="github" nzTheme="fill"></i></button>  
            </nz-space>
            <nz-space>
              <span nz-typography nzType="success">{{'Nav.Version' | transloco}}: {{currentVersion}}</span>
            </nz-space>
          </nz-space>   
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
