<mat-card>
  <mat-card-header>
    <mat-card-title> {{'Nav.Album' | translate}} </mat-card-title>
    <mat-card-subtitle>{{'Common.ListView' | translate}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list [cols]="clnGridCount" rowHeight="3:2">
      <mat-grid-tile *ngFor="let album of albumes" colspan="1" rowspan="1">
        <mat-grid-tile-header>
          {{album.Title}}
          <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="onViewAlbumClick(album.Id)">{{'Album.ViewPhotos' | translate}}</button>
            <button mat-menu-item (click)="onChangeAlbumMetadata(album.Id)">{{'Album.ChangeMetadata' | translate}}</button>
          </mat-menu>
        </mat-grid-tile-header>
        <img class="dashboard-image" src="{{album.ThumbnailInAPIUrl}}" (click)="onViewAlbumClick(album.Id)" style="cursor: hand;"
          alt="Image">
        <mat-grid-tile-footer>
          {{album.Desp}}
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-paginator [length]="albumAmount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageEvent($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>
