<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">AC Photo Gallery!</h1>
        <p class="lead">{{'Message.WelcomeTitle' | translate}}</p>
        <hr class="m-y-2">
        <p>{{'Message.WelcomeTech' | translate}}</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" [routerLink]="['/album']" routerLinkActive="active" role="button">{{'Message.WelcomeAlbumButton' | translate}}</a>
            <a class="btn btn-primary btn-lg" [routerLink]="['/photo']" routerLinkActive="active" role="button">{{'Message.WelcomePhotoButton' | translate}}</a>
        </p>
    </div>
</div>
