<nz-page-header class="site-page-header" nzTitle="Photos" nzSubtitle="List mode">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Welcome</nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a>Photos</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button nz-button>Operation</button>
    <button nz-button>Operation</button>
    <button nz-button nzType="primary" (click)="onUpload()">Upload</button>
  </nz-page-header-extra>  
</nz-page-header>

<nz-image-group>
  <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
    <div nz-col class="gutter-row" [nzSpan]="6" *ngFor="let pht of photos">
      <div class="inner-box">
        <img nz-image width="200px" [nzSrc]="getFileUrl(pht)" alt="" />
      </div>
    </div>
  </div>
</nz-image-group>
