<nz-page-header
  class="site-page-header"
  [nzTitle]="'Nav.Photos' | transloco"
  [nzSubtitle]="'Common.ListView' | transloco">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item><a routerLink="/welcome">{{ 'Common.Dashboard' | transloco }}</a></nz-breadcrumb-item>
    <nz-breadcrumb-item>{{ 'Nav.Photos' | transloco }}</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button nz-button (click)="onSearch()">
      {{ 'Common.Search' | transloco }}
    </button>
    <button nz-button (click)="onRefresh()">
      {{ 'Common.Refresh' | transloco }}
    </button>
    <button nz-button nzType="primary" (click)="onUpload()">
      {{ 'Nav.PhotoUpload' | transloco }}
    </button>
  </nz-page-header-extra>
</nz-page-header>

<acgallery-photo-list-core
  [totalCount]="totalCount"
  [pageSize]="pageSize"
  [photos]="photos"
  (paginationEvent)="onPaginationEvent($event)">
</acgallery-photo-list-core>
