.section {
border: none;
}


.md-display-2 {
font-weight: 400;
text-align: center;
}

.section-inner {
padding: 40px;
}

.section:not(.section-next-page) .section-inner {
max-width: 720px;
text-align: left;
}

.section .md-display-1 {
margin-bottom: 1em;
text-align: center;
}

@media screen and (max-width: 768px) {
.section-inner {
    padding: 20px;
}
}

/** Typography */

ul.md-body {
padding-left: 1.5em;
}

/** Images */

figure,
.md-headline {
text-align: center;
}

figure > img {
max-width: 180px;
width: 100%;
}

/** Accent box */

.accent {
margin: 40px auto 0 auto;
max-width: 420px;
padding: 40px;
text-align: left;
}

.accent .md-headline {
margin: 0 0 0.5em 0;
font-size: 21px;
}

.accent .md-body:last-child {
margin-bottom: 0;
}

@media screen and (max-width: 768px) {
.accent {
    padding: 20px;
}
}