<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Photoes List</h3>
    </div>
    <div class="panel-body">
        <div class="card-deck-wrapper">
            <div class="card-deck">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 card card-block text-xs-center" *ngFor="let photo of photoes">
                    <a class="fancybox" rel="gallery" href="{{photo.fileUrl}}">
                        <img src="{{photo.thumbnailFileUrl}}" alt="{{photo.updtime}}" class="img img-responsive full-width thumbnail" style="display: block; width: 100% !important;height: auto !important;" />
                    </a>
                    <div class="card-block">
                        <h4 class="card-title">{{photo.title}}</h4>
                        <p class="card-text">{{photo.desp}}</p>
                        <div class="card-block">
                            <a class="btn btn-link" (click)="onSetSelectedPhoto(photo)" data-toggle="modal" data-target="#modalPhoto">
                                Change
                            </a>
                            <a class="btn btn-link" (click)="onSetSelectedPhoto(photo)" data-toggle="modal" data-target="#modalPhotoExif">
                                EXIF
                            </a>
                            <a class="btn btn-link" (click)="onAssignAlbum(photo)" >
                                Assign
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 picture-box" *ngFor="let photo of photoes">
                    <a class="fancybox" rel="gallery" href="{{photo.fileUrl}}">
                        <img src="{{photo.thumbnailFileUrl}}" alt="{{photo.updtime}}" class="img img-responsive full-width thumbnail" style="display: block; width: 100% !important;height: auto !important;" />
                    </a>
                </div>
            </div>
        </div>-->

        <div class="modal fade" id="modalPhoto" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content" *ngIf="selectedPhoto">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Change Photo metadata</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="title-input" class="col-xs-2 col-form-label">Title</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" id="title-input" [(ngModel)]="selectedPhoto.title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desp-input" class="col-xs-2 col-form-label">Desp</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" id="desp-input" [(ngModel)]="selectedPhoto.desp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" (click)="onSavePhotoMetadata()">Save changes</button>
                    </div>
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->

        <div class="modal fade" id="modalPhotoExif" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content" *ngIf="selectedPhoto">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">EXIF info</h4>
                    </div>
                    <div class="modal-body">
                        <div style="max-height: 300px; overflow: auto;">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let exif of selectedPhoto.exifTags">
                                        <td>{{exif.group}}</td>
                                        <td>{{exif.name}}</td>
                                        <td>{{exif.value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->

    </div>
</div>
