<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="!canUploadPhoto()">
        <strong>Oh snap!</strong> You have no authority to upload a photo.
        <br />
        Please register yourself first. 
        <br />
         If you already signed-in, please contact <address>
            Alva Chien (<a href="mailto:alvachien@live.com">email</a>, <a href="http://www.flickr.com/photos/alvachien">Flickr</a>, etc)
        </address> for help.
    </div>

    <div class="container" *ngIf="canUploadPhoto()">
        <div class="col-md-3">
            <div class="row">
                <!--<input type="file" class="form-control-file" (change)="onChange($event)" multiple />-->
                <div class="form-control-file btn btn-primary" id="load-file-button-id" #uploadFileRef>
                    <div>Select files</div>
                </div>
            </div>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload queue</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th width="30%">Info</th>
                        <th width="30%">Name</th>
                        <th width="20%">Dimension</th>
                        <th>Size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let updphoto of arUpdPhotos">
                        <td><strong>{{updphoto.ValidInfo}}</strong></td>
                        <td><strong>{{updphoto.Name}}</strong></td>
                        <td nowrap>{{updphoto.Dimension}}</td>
                        <td nowrap>{{updphoto.Size}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <progressbar max="100" [value]="progressNum">
                    <span style="color:white; white-space:nowrap;">{{progressNum}} %</span>
                </progressbar>
            </div>
            <div class="row">
                <input type="submit" [disabled]="!selectedFiles || selectedFiles.length <= 0 || isUploading" (click)="onSubmit($event)" />
            </div>
        </div>
    </div>
</div>
