/* Global styles */
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
