<div class="grid-container">
  <mat-grid-list [cols]="numberOfColumns" rowHeight="400px">

    <!-- Dashboard 1: Key figure -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{'Common.KeyFigure' | translate}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div fxLayout="column" fxLayoutAlign="space-around center" >
            <div class="album-statistic">
              <span style="font-size:36px;">{{'Common.TotalAlbum' | translate}}: </span>
              <span style="color:red; ">{{amtAlbum}}</span>            
            </div>
            <div class="photo-statistic">
              <span style="color:green;">{{amtPhoto}}</span>
              <span style="font-size:36px;">{{'Common.TotalPhoto' | translate}}</span>
            </div>
            <div class="contributor-statistic">
              <span style="font-size:36px;">Contributors:</span>  
              <span style="color:blue;">{{amtAlbum}}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Dashboard 2: Features -->
    <mat-grid-tile [colspan]="featureColumnSpan" rowspan="3">
      <div class="grid-container" style="width: 100%;">
        <mat-grid-list cols="1" rowHeight="380px">
          <mat-grid-tile rowspan="1" colspan="1">
            <div fxLayout.gt-sm="row" fxLayout.lt-sm="column">
              <div fxFlex.gt-sm="60%" fxFlex="100%" fxFlexOrder.gt-sm="1" fxFlexOrder="2">
                <h2 class="featurette-heading">{{'Message.FeatureTitle1' | translate }}
                  <span class="text-muted">{{'Message.FeatureSubTitle1' | translate }}</span>
                </h2>
                <p class="lead">{{'Message.FeatureContent1' | translate }}</p>
              </div>
              <div fxFlex.gt-sm="40%" fxFlex="100%" fxFlexOrder.gt-sm="2" fxFlexOrder="1">
                <img class="img-fluid mx-auto" src="assets/img/New-Technology.jpg" alt="New technology">
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile rowspan="1" colspan="1">
            <div fxLayout.gt-sm="row" fxLayout.lt-sm="column">
              <div fxFlex.gt-sm="40%" fxFlex="100%" fxFlexOrder.gt-sm="2" fxFlexOrder="2">
                <img class="img-fluid mx-auto" src="assets/img/cloud-ready.jpg" alt="Generic placeholder image">
              </div>
              <div fxFlex.gt-sm="60%" fxFlex="100%" fxFlexOrder.gt-sm="1" fxFlexOrder="1">
                <h2 class="featurette-heading">{{'Message.FeatureTitle2' | translate }}
                  <span class="text-muted">{{'Message.FeatureSubTitle2' | translate }}</span>
                </h2>
                <p class="lead">{{'Message.FeatureContent2' | translate }}</p>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile rowspan="1" colspan="1">
            <div fxLayout.gt-sm="row" fxLayout.lt-sm="column">
              <div fxFlex.gt-sm="60%" fxFlex="100%" fxFlexOrder.gt-sm="1" fxFlexOrder="2">
                <h2 class="featurette-heading">{{'Message.FeatureTitle3' | translate }}
                  <span class="text-muted">{{'Message.FeatureSubTitle3' | translate }}</span>
                </h2>
                <p class="lead">{{'Message.FeatureContent3' | translate }}</p>
              </div>
              <div fxFlex.gt-sm="40%" fxFlex="100%" fxFlexOrder.gt-sm="2" fxFlexOrder="1">
                <img class="img-fluid mx-auto" src="assets/img/feature3.jpg" alt="Generic placeholder image">
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>

    <!-- Dashboard 3: Album -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <a mat-stroked-button routerLink="/album" routerLinkActive="active">{{'Nav.Album' | translate}}</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="album-chart" echarts [options]="albumChartOption | async"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Dashboard 4: Photo -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <a mat-stroked-button routerLink="/photo" routerLinkActive="active">{{'Nav.Photos' | translate}}</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="photo-chart" echarts [options]="photoChartOption | async"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
