.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.album-chart {
  width: 98%;
  height: 280px;
}

.photo-chart {
  width: 98%;
  height: 280px;
}
