<div class="grid-container">
  <mat-grid-list cols="3" rowHeight="400px">

    <!-- Dashboard 1: Key figure -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{'Common.KeyFigure' | translate}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="font-size:80px; width: 100%; height: 90px; margin: 2px;">
            <span style="font-size:36px;">{{'Common.TotalAlbum' | translate}}: </span>
            <span style="color:red; ">{{amtAlbum}}</span>            
          </div>
          <mat-divider></mat-divider>
          <div class="mat-head-1" style="font-size:80px; width: 100%; height: 90px; text-align: right; margin: 2px;">
            <span style="color:green;">{{amtPhoto}}</span>
            <span style="font-size:36px;">{{'Common.TotalPhoto' | translate}}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Dashboard 2: Features -->
    <mat-grid-tile colspan="2" rowspan="3">
      <div class="grid-container" style="width: 100%;">
        <mat-grid-list cols="1" rowHeight="380px">
          <mat-grid-tile rowspan="1" colspan="1">
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">{{'Message.FeatureTitle1' | translate }}
                  <span class="text-muted">{{'Message.FeatureSubTitle1' | translate }}</span>
                </h2>
                <p class="lead">{{'Message.FeatureContent1' | translate }}</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="assets/img/New-Technology.jpg" alt="Generic placeholder image">
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile rowspan="1" colspan="1">
            <div class="row featurette">
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="assets/img/cloud-ready.jpg" alt="Generic placeholder image">
              </div>
              <div class="col-md-7">
                <h2 class="featurette-heading">{{'Message.FeatureTitle2' | translate }}
                  <span class="text-muted">{{'Message.FeatureSubTitle2' | translate }}</span>
                </h2>
                <p class="lead">{{'Message.FeatureContent2' | translate }}</p>
              </div>
            </div>
          </mat-grid-tile>

          <mat-grid-tile rowspan="1" colspan="1">
            <div class="row featurette">
              <div class="col-md-7">
                <h2 class="featurette-heading">{{'Message.FeatureTitle3' | translate }}
                  <span class="text-muted">{{'Message.FeatureSubTitle3' | translate }}</span>
                </h2>
                <p class="lead">{{'Message.FeatureContent3' | translate }}</p>
              </div>
              <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="assets/img/feature3.jpg" alt="Generic placeholder image">
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </mat-grid-tile>

    <!-- Dashboard 3: Album -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <a mat-stroked-button routerLink="/album" routerLinkActive="active">{{'Nav.Album' | translate}}</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="album-chart" echarts [options]="albumChartOption | async"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!-- Dashboard 4: Photo -->
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <a mat-stroked-button routerLink="/photo" routerLinkActive="active">{{'Nav.Photos' | translate}}</a>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="photo-chart" echarts [options]="photoChartOption | async"></div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
