<div class="container">
    <div class="col-md-3">
        <div class="row">
            <input type="file" (change)="onChange($event)" multiple accept="image/jpeg, image/png, image/tiff" />
        </div>
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

        <h3>Upload queue</h3>

        <table class="table">
            <thead>
                <tr>
                    <th width="80%">Name</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let file of selectedFiles; let i = index">
                    <td><strong>{{file.name}}</strong></td>
                    <td nowrap>{{file.size}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <ngb-progressbar type="success" [value]="progressNum"></ngb-progressbar>
        </div>
        <div class="row">
            <input type="submit" [disabled]="!selectedFiles || selectedFiles.length <= 0" (click)="onSubmit($event)" />
        </div>
    </div>
</div>