<div style="padding-top: 50px;">

<div class="section section-intro">
</div>

<div id="why-are-we-doing-this" class="w3-center w3-xlarge w3-padding-left w3-padding-right w3-card-24">
    <div class="section-inner">
        <figure>
            <img alt=""
                 src="assets/img/1-why.png"
                 style="max-width: 120px">
        </figure>
        <h3 class="md-display-1">
            Why do I doing this?
        </h3>
        <p class="md-body">
            When the news of Yahoo appears again, readers are all focus on the pricing.
            However, I am wondering the further of Flickr.
            Therefore, write a own photo/album web app turns into a choice.
        </p>
        <p class="md-body">
            Upload the photos and show it as a gallery, it's the purpose.
        </p>
    </div>
</div>

<div id="how-it-works" class="w3-center w3-xlarge w3-padding-left w3-padding-right w3-card-24">
    <div class="section-inner">
        <figure>
            <img alt=""
                 src="assets/img/2b-how-works.png"
                 style="max-width: 150px">
        </figure>
        <h3 class="md-display-1">
            How it works
        </h3>
        <p class="md-body">
            Putting the tons of new technologies together for this web app, it works as expected:
            ASP.NET Core 1.0; Angular 2; Angular Material 2/Bootstrap 4.0; 
        </p>
    </div>
</div>
</div>

