.section-inner {
  box-sizing: border-box;
  margin: auto;
  max-width: 960px;
  padding: 60px 40px;
  text-align: center;
  width: 100%;
}

.section {
    border: none;
}
.section-intro {
    background-position: center;
    background-size: cover;
    display: block;
    min-height: 200px;
    width: 100%;
}

.md-display-3 { font-size: 64px; font-weight: 300; }
.md-display-2 { font-size: 48px; font-weight: 400; }
.md-display-1 { font-size: 36px; font-weight: 500; }
.md-headline  { font-size: 24px; font-weight: 500; }
.md-body      { font-size: 16px; font-weight: 400; }
.md-caption   { font-size: 14px; font-weight: 300; }

.md-display-3,
.md-display-2,
.md-display-1,
.md-headline,
.md-caption {
  line-height: 1.2em;
}

.md-body {
  line-height: 1.5em;
}

.section-intro {
    background-image: url(assets/img/parallax1.jpg);
}

@media (max-width: 1280px),
        screen and (max-width: 640px) (min-resolution: 192dpi),
        screen and (max-width: 640px) and (-webkit-min-device-pixel-ratio: 2) {
    .section-intro {
        background-image: url(assets/img/parallax2.jpg);
    }
}

@media (max-width: 640px),
        screen and (max-width: 320px) (min-resolution: 192dpi),
        screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
    .section-intro {
        background-image: url(assets/img/parallax3.jpg);
    }
}

.md-display-2 {
    font-weight: 400;
    text-align: center;
}

.section:not(.section-next-page) .section-inner {
    max-width: 720px;
    text-align: left;
}

.section .md-display-1 {
    margin-bottom: 1em;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .section-inner {
        padding: 20px;
    }
}
